[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/salt-vim"]
	path = vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/bundle/vim-yaml"]
	path = vim/bundle/vim-yaml
	url = https://github.com/avakhov/vim-yaml.git
[submodule "vim/bundle/vim-vagrant"]
	path = vim/bundle/vim-vagrant
	url = https://github.com/hashivim/vim-vagrant.git
[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
